@import './helper/variables';
//font-family: 'Montserrat', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');

.container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.body {
    font-family: 'Montserrat', sans-serif;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    max-height: 90vh;
    overflow-y: scroll;
    
}

.table {
  font-family: 'Montserrat', sans-serif;
    width: 100%;
    color: rgb(33, 33, 33);
    border-collapse: collapse;
    td,
    th {
      font-size: 1.1vw;
      padding-top: 6px;
      padding-left: 0.5vw;
      padding-right: 0.5vw;
      padding-bottom: 6px;
      border: 1px solid #ddd;
  
      div {
        min-width: 15vw;
        max-width: 25vw;
        overflow: hidden;
        text-overflow: ellipsis;
      }
  
    }
    
    td {
      min-width: 5vw;
      max-width: 7vw;
      overflow: hidden;
      border-color: grey;
      text-overflow: ellipsis;
      
    }

  
    th {
      text-align: left;
      background-color: $base_Color;
      color: white;
    }
  
    tr {
      background-color: white;
    }
  
    tr:nth-child(even) {
      background-color: #d8d8d8;
    }

  
    button {
      border: none;
      background-color: rgba(255, 0, 0, 0);
    }
  
    input {
      font-size: 1.2vw;
      height: 2vw;
      width: 95%;
      border: none;
      background-color: rgba(221, 221, 221, 0);
      padding-left: 0.5vw;
    }
  }
  
  .icon {
    cursor: pointer;
  }
  
  .OverButton {
    position: relative;
    width: 3vw;
    height: 3vw;
    display: inline;
  
    button {
      position: absolute;
      width: 2vw;
      height: 2vw;
      background-color: rgba(221, 221, 221, 0);
      cursor: pointer;
    }
  }

  .button {
    font-family: 'Montserrat', sans-serif;
    margin-top: 1vw;
        width: 15vw;
        font-size: 1.3vw;
        border-radius: 0.4vw;
        background-color: $ucn_Blue;
        color: $white_Color;
        transition: 300ms ease-in-out;
        padding: 0.5vw;
        border: 2px solid $ucn_Blue;
        cursor: pointer;
        &:hover {
          background-color: $black_Color;
          border: 2px solid $black_Color;
          color: $white_Color;
        }
  }

  .form_container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 45%;
    top: 10%;
    background-color: $white_Color;
    height: 80vh;
    width: 30vw;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px $boxShadow_Color;
  }

  .form {
    margin-top: -2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vw;
    fieldset {
      border-radius: 10px;
        padding: 1vw;
        border-color: rgba(0, 0, 0, 0.45);
        legend {
            font-size: 1.3vw;
            padding: 0.5vw;
            margin-left: 0.5vw;
            color: $base_Color;
        }
      }
    input {
      font-family: 'Montserrat', sans-serif;
      width: 100%;
      box-sizing: border-box;
      border-radius: 0.4vw;
      border-color: rgba(0, 0, 0, 0.45);
      font-size: 1.3vw;
      margin-bottom: 1vw;
      color: $base_Color;
      &::placeholder {
        color: rgba(0, 0, 0, 0.45);
      }
      &:focus {
        outline-color: $base_Color;
      }
  }
    select {
      border-radius: 0.4vw;
      border-color: rgba(0, 0, 0, 0.45);
      font-family: 'Montserrat', sans-serif;
      width: 100%;
      height: auto;
      font-size: 1.3vw;
      margin-bottom: 1vw;
    }

    textarea {
      border-radius: 0.4vw;
      border-color: rgba(0, 0, 0, 0.45);
      font-family: 'Montserrat', sans-serif;
      width: 100%;
      font-size: 1.3vw;
      resize: none;
      height: 20vh;
    }
  }