@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: green;
}

.login_container {
  position: relative;
  margin: auto;
  margin-top: 10vw;
  width: 30vw;
  padding: 2vw 2vw 2vw 2vw;
  background-color: white;
  border-radius: 0.5vw;
  font-family: 'Roboto', sans-serif;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.486);
}

.login_container h2 {
  margin-bottom: 1vw;
  font-size: 2.3vw;
}

.login_container input {
  width: 100%;
  box-sizing: border-box;
  border-radius: 0.4vw;
  padding: 0.5vw;
  font-size: 1.5vw;
  margin-bottom: 1vw;
}

.login_container .sign_up_button {
  background-color: rgba(255, 0, 0, 0);
  color: grey;
}

.login_container button {
  width: 100%;
  font-size: 1.5vw;
  border-radius: 0.4vw;
  background-color: #00b3ff;
  color: white;
  border: none;
  transition: 300ms ease-in-out;
  margin-bottom: 1vw;
  padding: 0.5vw;
}

.password_container {
  position: relative;
  width: 100%;
}

.password_container div {
  position: absolute;
  top: 0.7vw;
  right: 1vw;
  color: black;
  transition: 0ms;
  border: none;
  transform: scale(1.2);
}

#ucnlogo_svg__Layer_1 {
  position: absolute;
  top: 2vw;
  right: 2.5vw;
  width: 4vw;
}
