@import './helper/variables';
//font-family: 'Montserrat', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');

.h1 {
font-family: 'Montserrat', sans-serif;
background-color: white;
padding: 2vw;
border-radius: 10px;
box-shadow: 5px 5px 5px 5px $boxShadow_Color;
}

.container {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}