@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap");
.nav {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5vw;
  width: 20vw;
  color: rgb(255, 255, 255);
  background-color: #252f32;
  height: 100vh;
}
.nav a {
  text-decoration: none;
  color: white;
  width: 20vw;
  cursor: pointer;
}
.nav ul:nth-child(3) {
  position: fixed;
  bottom: 0;
  min-width: 20vw;
}
.nav ul {
  overflow: hidden;
  transition: 200ms ease-in-out;
}
.nav ul li {
  position: relative;
  padding: 1vw;
  padding-left: 3.5vw;
  background-color: #252f32;
  border-bottom: rgba(119, 169, 210, 0.16) solid;
}
.nav ul li:nth-child(1) {
  background-color: rgb(31, 38, 40);
  padding-left: 1vw;
}
.nav button {
  border: none;
  background-color: inherit;
  padding-left: 2.2vw;
  margin-left: -2vw;
  color: white;
  font-size: 1.5vw;
}

.current_user_container {
  position: relative;
  width: 100%;
  height: 8vw;
}
.current_user_container h2 {
  margin-left: 8vw;
  padding-top: 2vw;
  font-size: 2vw;
}
.current_user_container p {
  margin-left: 8vw;
  font-size: 1vw;
  word-wrap: break-word;
}
.current_user_container div {
  position: absolute;
  width: 5vw;
  height: 5vw;
  top: 1.4vw;
  left: 0.5vw;
  border-radius: 50%;
  background-color: greenyellow;
}

.icons {
  position: absolute;
  left: 1vw;
  top: 1vw;
  font-size: 1.5vw;
  color: white;
}

.arrows {
  position: absolute;
  top: 1vw;
  right: 2vw;
  font-size: 2vw;
  transition: 100ms ease-in-out;
  cursor: pointer;
}

.dropped {
  position: absolute;
  top: 1vw;
  right: 2vw;
  font-size: 2vw;
  transition: 100ms ease-in-out;
  transform: rotate(180deg);
  cursor: pointer;
}

.notdropped {
  height: 4vw;
}

.droppedul {
  height: 20vw;}
