.body {
  width: 100%;
  overflow-y: scroll;
  max-height: 100vh;
}

.school_description {
  height: 2vh;
  overflow: hidden;
}

.table {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  color: rgb(33, 33, 33);
  border-collapse: collapse;
}
.table td,
.table th {
  font-size: 1.1vw;
  padding-top: 6px;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  padding-bottom: 6px;
  border: 1px solid #ddd;
}
.table th:last-child {
  width: 2vw;
  background-color: rgb(2, 108, 206);
}
.table td {
  min-width: 5vw;
  max-width: 7vw;
  overflow: hidden;
  border-color: rgb(191, 190, 190);
  text-overflow: ellipsis;
}
.table td div {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 200vw;
}
.table th {
  text-align: left;
  background-color: #004250;
  color: white;
}
.table tr {
  background-color: white;
}
.table tr:nth-child(even) {
  background-color: #d8d8d8;
}
.table button {
  border: none;
  background-color: rgba(255, 0, 0, 0);
}
.table input {
  font-size: 1.2vw;
  height: 2vw;
  width: 95%;
  border: none;
  background-color: rgba(221, 221, 221, 0);
  padding-left: 0.5vw;
}
.icon {
  cursor: pointer;
}

.OverButton {
  position: relative;
  width: 3vw;
  height: 3vw;
  display: inline;
}
.OverButton button {
  position: absolute;
  width: 2vw;
  height: 2vw;
  background-color: rgba(221, 221, 221, 0);
  cursor: pointer;
}

.NotActive {
  border: orange solid;
}

.preview {
  margin-top: 5vw;
  width: 80vw;
  height: 35vw;
  background-color: red;
}

.readable {
  position: relative;
  width: 25vw;
  height: 0vw;
}
.readable textarea {
  position: absolute;
  top: 0;
  width: 90%;
  height: 13.6vw;
  z-index: 50;
  padding: 5%;
}

.collapsed {
  position: relative;
  width: 15vw;
  height: 0vw;
}
.collapsed textarea {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}