@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap");
.body {
  position: absolute;
  font-family: "Montserrat", sans-serif;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: -9996;
  transition: 400ms ease-in-out;
  left: 35%;
}

.form {
  width: 30vw;
  padding: 2vw 2vw 2vw 2vw;
  background-color: #fff;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.189);
  border-radius: 0.5vw;
}
.form fieldset {
  padding: 1vw;
}
.form fieldset legend {
  font-size: 1.3vw;
  padding: 0.5vw;
  margin-left: 0.5vw;
}
.form fieldset input {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  box-sizing: border-box;
  border-radius: 0.4vw;
  padding: 0.5vw;
  font-size: 1.3vw;
  margin-bottom: 1vw;
}
.form fieldset textarea {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  min-height: 10vw;
  resize: vertical;
  box-sizing: border-box;
  border-radius: 0.4vw;
  padding: 0.5vw;
  font-size: 1.3vw;
  margin-left: 0.2vw;
  margin-bottom: 1vw;
}
.form .button_container {
  margin-top: 2vw;
}
.form .button_container button {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  font-size: 1.3vw;
  border-radius: 0.4vw;
  background-color: #004250;
  color: #fff;
  transition: 300ms ease-in-out;
  margin-bottom: 0.5vw;
  padding: 0.5vw;
  border: 2px solid #004250;
  cursor: pointer;
}
.form .button_container button:hover {
  background-color: black;
  border: 2px solid black;
  color: #fff;
}
.form .button_container .back_button {
  background-color: #fff;
  color: grey;
  border: 2px solid #fff;
}

.first_password_container {
  position: relative;
  width: 100%;
}
.first_password_container div {
  position: absolute;
  top: 0.7vw;
  right: 1vw;
  color: black;
  transition: 0ms;
  border: none;
  transform: scale(1.2);
}

.sec_password_container {
  position: relative;
  width: 100%;
}
.sec_password_container div {
  position: absolute;
  top: 0.7vw;
  right: 1vw;
  color: black;
  transition: 0ms;
  border: none;
  transform: scale(1.2);
}

.background {
  position: absolute;
  width: 80%;
  z-index: -9997;
  top: 20%;
  transform: rotate(30deg);
}