@import './helper/variables';

.body {
  width: 40vw;
  height: 47vw;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  margin: auto;
  margin-top: 2vw;
  padding-bottom: 1vw;
  overflow: hidden;
  box-sizing: content-box;
  
  /* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(138, 138, 138); 
  border-radius: 10px;
}


  textarea {
    font-family: 'Montserrat', sans-serif;
    width: 90%;
    height: 10vw;
    box-sizing: border-box;
    border-radius: 0.4vw;
    border-color: rgba(0, 0, 0, 0.45);
    padding: 0.5vw;
    font-size: 1.3vw;
    margin-bottom: 4vw;
    color: $base_Color;
  }

  .ImageContainer {
    position: relative;
    width: 100%;
    height: 52%;
    box-shadow: 0 0 15px 20px rgb(255, 255, 255);
    z-index: 6;
    margin: auto;


    .imgEdit {
      width: 90%;
      margin: auto;
    }

    input[type=file]::-webkit-file-upload-button {
      display: none;
    }


    input {
      margin-left: 1.8vw;
      margin-top: 0.5vw;
      opacity: 0;
    }

    img {
      width: 90%;
      display: block;
      margin: auto;
      border-radius: 10px;
      margin-top: 2vw;
      margin-bottom: 1vw;
    }
  }

  .InputContainer {
    width: 90%;
    height: 38%;
    overflow: scroll;
    overflow-x: hidden;
    padding: 0vw 0vw 0vw 2vw;




    input {
      font-family: 'Montserrat', sans-serif;
      width: 98%;
      padding-right: 1vw;
      box-sizing: border-box;
      border-radius: 0.4vw;
      border-color: rgba(0, 0, 0, 0.45);
      padding: 0.5vw;
      font-size: 1.3vw;
      margin-bottom: 1vw;
      color: $base_Color;

      &::placeholder {
        color: rgba(0, 0, 0, 0.45);
      }

      &:focus {
        outline-color: $base_Color;
      }
    }

    input {
      display: block;
    }
  }



  .ButtonsContainer {

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0 0 10px 20px rgb(255, 255, 255);


    button {
      font-family: 'Montserrat', sans-serif;
      width: 43%;
      font-size: 1.3vw;
      height: 2.5vw;
      border-radius: 0.4vw;
      background-color: $ucn_Blue;
      color: $white_Color;
      transition: 300ms ease-in-out;
      cursor: pointer;
      border: rgba(255, 0, 0, 0);

      &:hover {
        background-color: $black_Color;
        border: 0px solid $black_Color;
        color: $white_Color;
      }
    }
  }
}

.files {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3vw;
  border-radius: 0.4vw;
  background-color: $ucn_Blue;
  color: $white_Color;
  transition: 300ms ease-in-out;
  padding: 0.5vw;
  cursor: pointer;
  text-align: center;

  &:hover {
    background-color: $black_Color;
    border: 0px solid $black_Color;
    color: $white_Color;
  }
}
