@import './helper/variables';

.body {
  width: 40vw;
  max-height: 90vh;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  margin: auto;
  margin-top: 2vw;
  overflow: scroll;

  textarea {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 10vw;
    box-sizing: border-box;
    border-radius: 0.4vw;
    border-color: rgba(0, 0, 0, 0.45);
    padding: 0.5vw;
    font-size: 1.3vw;
    margin-bottom: 4vw;
    color: $base_Color;
  }

  nav {
    position: absolute;
    bottom: 3.5vw;
    width: 40vw;
    padding-top: 1vw;
    height: 3.5vw;
    background: linear-gradient(rgba(255, 255, 255, 0.872), rgb(255, 255, 255));
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: space-evenly;

    button {
      font-family: 'Montserrat', sans-serif;
      width: 45%;
      font-size: 1.3vw;
      border-radius: 0.4vw;
      background-color: $ucn_Blue;
      color: $white_Color;
      transition: 300ms ease-in-out;
      margin-bottom: 0.5vw;
      padding: 0.5vw;
      cursor: pointer;
      text-align: center;

      &:hover {
        background-color: $black_Color;
        border: 0px solid $black_Color;
        color: $white_Color;
      }
    }
  }
}

.disabled {
  background-color: rgb(165, 165, 165);
}

.ImageContainer {
  position: relative;
  margin: auto;
  padding: 1.5vw 1.5vw 1.5vw 1.5vw;


  input[type=file]::-webkit-file-upload-button {
    display: none;


  }

  input {
    content: "Hej";
    margin-left: 1.8vw;
    margin-top: 0.5vw;
    opacity: 0;
  }

  .icon {
    position: absolute;
    left: 11vw;
    top: 0vw;
    fill: rgb(255, 255, 255);
    transform: scale(3);

  }

  img {
    margin-bottom: 1.5vw;
    width: 100%;
    border-radius: 10px;
    background-color: red;
  }
}

.files {
  display: block;
  font-family: 'Montserrat', sans-serif;
  width: 98%;
  font-size: 1.3vw;
  border-radius: 0.4vw;
  background-color: $ucn_Blue;
  color: $white_Color;
  transition: 300ms ease-in-out;
  padding: 0.5vw;
  cursor: pointer;
  text-align: center;

  &:hover {
    background-color: $black_Color;
    border: 0px solid $black_Color;
    color: $white_Color;
  }
}

.InputContainer {
  padding: 1vw 1vw 1vw 1vw;



  input {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    box-sizing: border-box;
    border-radius: 0.4vw;
    border-color: rgba(0, 0, 0, 0.45);
    padding: 0.5vw;
    font-size: 1.3vw;
    margin-bottom: 1vw;
    color: $base_Color;

    &::placeholder {
      color: rgba(0, 0, 0, 0.45);
    }

    &:focus {
      outline-color: $base_Color;
    }
  }

  input {
    display: block;
  }
}

.lockIcon {
  position: absolute;
  bottom: 0;
  width: 2vw;
  height: 2vw;

  button {
    border: none;
  }

  span {
    margin-left: 1vw;
    display: none;
    color: red;

  }
}
