@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap");
.body {
  font-family: 'Montserrat', sans-serif;
  width: 80vw;
  margin-bottom: 3vw;
}

.create_user_btn {
  margin-top: 2vw;
  margin-left: 30vw;
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  width: 15vw;
  font-size: 1.3vw;
  border-radius: 0.4vw;
  background-color: #0046AD;
  color: #fff;
  transition: 300ms ease-in-out;
  margin-bottom: 0.5vw;
  padding: 0.5vw;
  border: 2px solid #0046AD;
  cursor: pointer;
}

.create_user_btn:hover {
  background-color: black;
  border: 2px solid black;
  color: #fff;
}

.table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  color: #212121;
}

.table td,
.table th {
  font-size: 1.2vw;
  border: 1px solid #ddd;
}

.table td div,
.table th div {
  min-width: 15vw;
  max-width: 25vw;
  overflow: auto;
}

.table th:last-child {
  width: 5vw;
}

.table th:nth-child(7) {
  width: 5vw;
}

.table th {
  padding-top: 12px;
  padding-left: 0.5vw;
  padding-bottom: 12px;
  text-align: left;
  background-color: #004250;
  color: white;
}

.table tr {
  background-color: white;
}

.table tr:nth-child(even) {
  background-color: #d8d8d8;
}

.table tr:hover {
  background-color: #ddd;
}

.table button {
  border: none;
  background-color: rgba(255, 0, 0, 0);
}

.table input {
  font-size: 1.2vw;
  height: 2vw;
  width: 95%;
  border: none;
  background-color: rgba(221, 221, 221, 0);
  padding-left: 0.5vw;
}

.icon {
  cursor: pointer;
}

.OverButton {
  position: relative;
  width: 3vw;
  height: 3vw;
  display: inline;
}

.OverButton button {
  position: absolute;
  width: 2vw;
  height: 2vw;
  background-color: rgba(221, 221, 221, 0);
  cursor: pointer;
}

.table_h2 {
  background-color: white;
  padding: 1vw;
}
