@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap");
.user_body {
  font-family: "Montserrat", sans-serif;
  width: 80vw;
  overflow-y: scroll;
  max-height: 40vh;
}

.admin_body {
  font-family: "Montserrat", sans-serif;
  width: 80vw;
  max-height: 40vh;
  overflow-y: scroll;
}

.create_user_btn {
  margin-left: 30vw;
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  width: 15vw;
  font-size: 1.3vw;
  border-radius: 0.4vw;
  background-color: #0046AD;
  color: #fff;
  transition: 300ms ease-in-out;
  margin-top: 1vw;
  margin-bottom: 0.5vw;
  padding: 0.5vw;
  border: 2px solid #0046AD;
  cursor: pointer;
}
.create_user_btn:hover {
  background-color: black;
  border: 2px solid black;
  color: #fff;
}

.table {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  color: rgb(33, 33, 33);
  border-collapse: collapse;
}
.table td,
.table th {
  font-size: 1.1vw;
  padding-top: 6px;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  padding-bottom: 6px;
  border: 1px solid #ddd;
}
.table th:last-child {
  width: 2vw;
  background-color: rgb(2, 108, 206);
}
.table td {
  min-width: 5vw;
  max-width: 7vw;
  overflow: hidden;
  border-color: rgb(191, 190, 190);
  text-overflow: ellipsis;
}
.table td div {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 200vw;
}
.table th {
  text-align: left;
  background-color: #004250;
  color: white;
}
.table tr {
  background-color: white;
}
.table tr:nth-child(even) {
  background-color: #d8d8d8;
}
.table button {
  border: none;
  background-color: rgba(255, 0, 0, 0);
}
.table input {
  font-size: 1.2vw;
  height: 2vw;
  width: 95%;
  border: none;
  background-color: rgba(221, 221, 221, 0);
  padding-left: 0.5vw;
}
.table .action {
  display: flex;
}

.icon {
  cursor: pointer;
}

.OverButton {
  margin-left: 0.5vw;
  position: relative;
  width: 3vw;
  height: 3vw;
  display: inline;
}
.OverButton button {
  position: absolute;
  background-color: rgba(221, 221, 221, 0);
  cursor: pointer;
}
.OverButton button svg {
  margin-top: 0.5vw;
  font-size: 32px;
}

.table_h2 {
  background-color: #252f32;
  color: white;
  padding: 1vh 0;
}